<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Выберите категорию</h1>
    <a asp-controller="Restaurant" asp-action="RestaurantList" class="btn btn-secondary my-3">Рестораны</a>
    <a asp-controller="User" asp-action="UserList" class="btn btn-secondary my-3">Пользователи</a>
</div>
</body>
</html>